<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You are not an authorized user</h2>
    <form action="/unauthorized" method="post">
        <button type="submit"> Go Back To Login Page</button>
    </form>
</body>
</html>